name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pixi-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Checkout dependency repo
        uses: actions/checkout@v6
        with:
          repository: eo-tools/eozilla
          path: eozilla

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          cache: true
          auth-host: prefix.dev
          auth-token: ${{ secrets.PREFIXDEV_AUTH_TOKEN }}

      - name: Run checks
        run: pixi run checks

      - name: Run test & coverage
        run: pixi run coverage-ci

      - name: Upload coverage reports
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: Sen4CAP/sen4cap-client

      # Add other pixi tasks here

